body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #e6f7ff;
}

.app {
  text-align: center;
  padding: 10px;
}

.board {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.robot {
  font-size: 60px;
}

.habitat {
  width: 110px;
  height: 110px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.ice {
  background: #dff3ff;
}

.sea {
  background: #b3e5fc;
}
.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.row {
  display: flex;
}

.cell {
  width: 90px;
  height: 90px;
  border: 2px dashed #b0dff5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls {
  margin-top: 20px;
}

.controls button {
  font-size: 30px;
  margin: 8px;
  padding: 10px 18px;
  border-radius: 12px;
  border: none;
  background: #4fc3f7;
}
